@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700&display=swap');


body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #22262A;
}

a:link, 
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}
.jumbotron {
    background-color: #151515;
}

.header-main-title {
    color: #fff;
}

.character-search-box, .search-character-button {
    border-radius: 10;
}
.search-character-button {
    background-color: #ED462F;
}

.card {
    border:none;
    border-radius: 2px;
}

div.quote {
  text-align: center;
}
div.new {
    text-align: center;
  }
  